<a href="https://colab.research.google.com/github/Nik8x/Deep_writing_generating_text/blob/master/creating_novel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import LSTM
from keras.utils import np_utils

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [0]:
text = open('SwannsWay.txt', encoding = "utf8").read()
text = text.lower()

In [0]:
characters = sorted(list(set(text)))
n_to_char = {n:char for n, char in enumerate(characters)}
char_to_n = {char:n for n, char in enumerate(characters)}

In [0]:
pd.DataFrame(n_to_char, index = ['']).iloc[0:4, 0:4]

   0  1  2  3
  \n     !  "

In [0]:
X = []
Y = []
length = len(text)
seq_length = 100
for i in range(0, length-seq_length, 1):
     sequence = text[i:i + seq_length]
     label =text[i + seq_length]
     X.append([char_to_n[char] for char in sequence])
     Y.append(char_to_n[label])

In [0]:
X_modified = np.reshape(X, (len(X), seq_length, 1))
X_modified = X_modified / float(len(characters))
Y_modified = np_utils.to_categorical(Y)

In [0]:
model = Sequential()
model.add(LSTM(400, input_shape=(X_modified.shape[1], X_modified.shape[2]), return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(400))
model.add(Dropout(0.2))
model.add(Dense(Y_modified.shape[1], activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam')

In [0]:
model.fit(X_modified, Y_modified, epochs=1, batch_size=100)

model.save_weights('text_generator_400_0.2_400_0.2_baseline.h5')

Epoch 1/1
1084495/1084495 [==============================] - 3117s 3ms/step - loss: 2.3448

In [0]:
model.load_weights('text_generator_400_0.2_400_0.2_baseline.h5')

In [0]:
string_mapped = X[99]
full_string = [n_to_char[value] for value in string_mapped]
# generating characters
for i in range(400):
    x = np.reshape(string_mapped,(1,len(string_mapped), 1))
    x = x / float(len(characters))

    pred_index = np.argmax(model.predict(x, verbose=0))
    seq = [n_to_char[value] for value in string_mapped]
    full_string.append(n_to_char[pred_index])

    string_mapped.append(pred_index)
    string_mapped = string_mapped[1:len(string_mapped)]

In [0]:
string_mapped[0:10]

[24, 39, 1, 34, 25, 1, 39, 27, 24, 1]

In [0]:
#combining text
txt=""
for char in full_string:
    txt = txt+char
txt

' close so quickly that i had not even time to\nsay "i\'m going to sleep." and half an hour later the teru of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the stiet of the'